@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}

h1{
font-size: 5em;
margin: 53px 0;
}

h2{
    background-color: rgba(255,204,53,.4);
    transform: skew(9deg,0deg);
    font-style: italic;
    letter-spacing: 1px;
    padding: 0 30px;
    font-size: 2em;
}

h3{
color:#ED1C24;
}


header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }

  .logo {
width:90px;
}

.header2{
height: 3em;
justify-content: center;
padding: 10px 0px;
}


.header2 .magnifyingglass{
    background-color: rgb(211,211,211);
    margin-left: 15px;
    height: 18px;
    width: 18px;
    padding:10px;
}

.search-button{
    background-color: #fb3e44;
    color: white;
    box-shadow: 2px;
    min-width: auto;
    border: 0;
    height: 40px;
    padding: 13px 28px;
}

.header2 input{
    background-color: rgb(211,211,211);
    width: 600px;
    height: 18px;
    border:0;
    padding:13px 28px;
}

.header2 .login .join a{
    background-color: #fff;
    padding: 0px 16px 0px 0px;
    min-width:50px;
    font-size: 1rem;
    box-shadow: 8px;
}

.header2 a{
text-decoration:none;
color: #000;
font-size: smaller;
font-weight:400;
}

.header2 .join {
    margin-right:1em;
    border: 6;
    border: 1px solid #9a9a9a;
    padding: 8px 32px;
    margin:0 3em;
}

.section1{
    height:500px;
    background-color: rgba(232,217,217,.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section1 article{
box-sizing: border-box;
max-width: 600px;
font-size: larger;
text-align: center;
}

.section1 button{
    margin:1em 1em;
    font-size:1.2em;
    font-weight: bold;
    margin-top: 2em;
}

.plans{
    background-color: #FB3B49;
    box-shadow: 8px 8px 0 rgba(251,59,73,.2);
    border: none;
    color: #fff;
    font-weight: 700;
    padding:16px 32px;
    min-width: 250px;
    text-align: center;
}

.joinfree{
    background-color: #fff;
    color: #000;
    box-shadow: none;
    border: 1px solid rgba(138,138,138,.06);
    font-weight: 700;
    padding:16px 32px;
    min-width: 250px;
    text-align: center;
}
.section2{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5em;
    height: 600px;
}

.section2 img{
    margin: 3em auto;
}

.triangle {
    height: 250px;
    margin: 5Opx auto;
}

.section2 article{ 
    box-sizing:border-box;
    max-width: 800px;
    text-align:center;
    margin-top: 1em;
}

.section3 .box{
   display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 240px;
  padding: 0 10px;
  align-items: flex-start;
}

.section3 img{
    width: 45px;
}

.buttonend{
    padding:20px;
    font: size 1em;
    font-weight: 900;
    text-align:center;
    background-color: #000;
    color: white;
    border: 0;
    box-shadow:8px 8px 0 rgba(128,83,35,.2);
    padding: 20px;
    min-width: 450px;
    border-bottom:5;
}

.createorg{
    display:flex;
    flex-direction:row;
    justify-content: center !important;
}